<?xml version='1.0' encoding='utf-8'?>

<!--
- Copyright (c) 2013 by Dirk Riehle, http://dirkriehle.com
-
- This file is part of the Amos SS13 Project - Productive Games Development (PGA) application.
-
- This program is free software: you can redistribute it and/or modify
- it under the terms of the GNU Affero General Public License as
- published by the Free Software Foundation, either version 3 of the
- License, or (at your option) any later version.
-
- This program is distributed in the hope that it will be useful,
- but WITHOUT ANY WARRANTY; without even the implied warranty of
- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
- GNU Affero General Public License for more details.
-
- You should have received a copy of the GNU Affero General Public
- License along with this program. If not, see
- <http://www.gnu.org/licenses/>.
-
- Software Developers in alphabetical order:
- Nina Aures
- Alexander Schmidt
- Sascha Stroebel
-->


<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
 <hibernate-configuration>
 <session-factory>
 <!-- Database connection settings -->
<property name="hibernate.connection.url"> jdbc:postgresql://faui2o2j.informatik.uni-erlangen.de:5432</property>
 <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
 <property name="hibernate.connection.username">ss13-proj1</property>
 <property name="hibernate.connection.password">aiXeem3fahch7odo</property>
 
 <!-- SQL dialect - generate SQL for a particular database -->
 <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
 <!-- Echo all executed SQL statements -->
 <property name="show_sql">true</property>
 
 <!-- Enable Hibernate's automatic session context management -->
<mapping class="de.osramos.ss13.Model.UserDB"/>
<mapping class="de.osramos.ss13.Model.TaskDB"/>
<mapping class="de.osramos.ss13.Model.Taskdb__GpsEntry"/>
 </session-factory>
 </hibernate-configuration>
